<div class="d-combo-button sidebar-new-topic-button__wrapper" role="group" aria-label="Novo tópico e rascunhos">
  <button class="btn btn-icon-text d-combo-button-button sidebar-new-topic-button btn-primary" type="button">
    Novo tópico
  </button>
</div>
